@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.editActions {
    display: inline-block;
    position: relative;
}

.dots:hover {
    filter: brightness(0.7);
}

.editActionsBtn {
    background-color: transparent !important;
    border: none;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem 0rem 0rem 0rem !important;
    cursor: pointer;
}

.editActionsMenu {
    display: flex;
    position: absolute;
    top: 100%;
    flex-direction: column;
    background-color: #1d1e28;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
    right: 0;
    height: fit-content;
    min-width: 200px;
    width: fit-content;
    z-index: 1000000;
    font-size: 1rem;
    justify-content: center;
    animation: fadeInDown 0.15s ease-in-out;
}

.editActionsMenu.openUp {
    top: auto;
    bottom: 100%;
}

.editActionsItem {
    padding: 12px 12px;
    border-radius: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    gap: 12px;
    height: 44px;
}

.editActionsItem:hover {
    background-color: #21222d;
    cursor: pointer;
    border-radius: 10px;
}

.editActionsText {
    font-weight: 400 !important;
    font-size: 1rem;
}
