.navbar {
	position: relative;
	height: fit-content;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1000;
}

.navbarIcons {
	display: flex;
	gap: 16px;
	align-items: center;
}
