.sidebar { 
  width: 15%;
  height: 100vh;
  float: left;
  border-right: 1px solid #2c2d33;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarImage {
  width: 100%;
  height: 100px;
  text-align: center;
}

.sidebarImage img {
  width: 85%;
  height: 100%;
}

.sidebar ul {
  width: 80%;
  list-style-type: none;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar ul li {
  display: flex;
  align-items: center;
  padding: 4px 12px 4px 12px;
  width: 100%;
  gap: 9px;
}

.sidebarSelected {
  background: linear-gradient(90deg, #A9DFD8, #59B8AC);
  color: #242425;
  padding: 4px;
  border-radius: 8px;
  transition: all 0.3s linear;
}

.sidebarSelected:hover {
  border-radius: 8px;
  transform: scale(1.02);
  transition: all 0.3s linear;
}