.container {
	display: flex;
	flex-direction: column;
	padding: 32px 44px;
	gap: 20px;
	overflow-y: auto;
	height: 100vh;
}

.container::-webkit-scrollbar {
	width: 10px;
	background-color: #21222d;
	border-radius: 5px;
	margin-left: 5px;
}

.container::-webkit-scrollbar-thumb {
	background-color: #41424d;
	width: 1px;
	border-radius: 5px;
}
