.container {
    display: grid;
    width: 100%;
}

.headerBuild {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.headerBuild span {
    font-size: 1.25rem;
    font-weight: 700;
}

.headerBuild button {
    padding: 12px 16px;
    font-size: 1.25rem;
    font-weight: 500;
}

.buildButton {
    display: flex;
    align-items: center;
    background-color: #21222d;
    color: rgba(255, 255, 255, 0.87);
    border-radius: 8px;
    font-size: 1.25rem;
    cursor: pointer;
    border: none;
    gap: 8px;
}

.dropdownContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.dropdownBuild {
    border-radius: 8px;
    background-color: #21222d;
    transition: all 0.3s linear;
}

.dropdownTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    transition: all 0.3s linear;
}

.dropdownTitleOpen {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.dropdownTitle:hover {
    background-color: #1d1d27;
    border-radius: 8px;
}

.dropdownTitlePadding {
    padding: 24px 28px;
    cursor: pointer;
}

.dropdownTitle span {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 700;
    gap: 8px;
}

/* Estilo base cuando el contenido est치 oculto */
.dropDownInfoContainer {
    opacity: 0; /* Totalmente transparente */
    height: 0; /* Colapsado */
    overflow: hidden; /* Evita que el contenido sobrepase los bordes */
    transition: all 0.3s ease; /* Transici칩n suave */
}

.arrow {
    transform: rotate(0deg);
    transition: 300ms;
}

.active .arrow {
    transform: rotate(-180deg);
}

/* Clase para mostrar el contenido con animaci칩n */
.showInfo {
    padding: 24px 28px;
    opacity: 1; /* Totalmente opaco */
    height: auto;
    transition: all 0.3s ease; /* Transici칩n suave */
}

.showInfo button {
    background-color: #1d1e28;
    font-size: 1.22rem;
    padding: 12px 16px;
}

.buildInfo {
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    margin-top: 20px;
}

.buildInfo li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    padding: 16px 28px;
    border-bottom: 1px solid #41424d;
    transition: all 0.3s linear;
}

.buildInfo li:last-child {
    border-bottom: none;
}

.buildInfo li:first-child:hover {
    cursor: auto;
    background-color: #21222d;
}

.buildInfo li:hover {
    background-color: #1d1e28;
    border-radius: 8px;
    cursor: pointer;
}

.buildInfoList {
    display: flex;
    align-items: center;
    gap: 64px;
}

.buildInfoList span {
    font-weight: 600;
}

.buildAddButton {
    display: flex;
    align-items: center;
    background-color: #21222d;
    color: rgba(255, 255, 255, 0.87);
    border-radius: 8px;
    font-size: 1.25rem;
    cursor: pointer;
    border: none;
    gap: 8px;
    transition: all 0.3s linear;
}

.buildAddButton:hover {
    filter: brightness(0.9);
}

.buildButton {
    transition: all 0.3s linear;
}

.buildButton:hover {
    background-color: #181820;
}

.buildingsContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.p2 {
    color: #a9dfd8;
}

.totalDevicesText {
    font-size: 1.25rem;
    font-weight: 400;
}
