.container {
  position: relative;
  width: 100%;
  display: flex;
  gap: 24px;
}

.largeCard {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 30px;
  background-color: #21222D;
  border-radius: 8px;
  gap: 16px;
}


.pSubTitle {
  color: #A0A0A0;
  font-size: 16px;
}

.middleCard {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 40px;
  background-color: #21222D;
  border-radius: 8px;
  gap: 8px;
}

.middleCard h2 {
  font-size: 20px;
  color: #feaf5a;
}

.middleCard p {
  font-size: 16px;
  padding-bottom: 14px;
} 

.containerCards {
  display: flex;
  gap: 16px;
}

.smallCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 24px;
  border-radius: 8px;
  background-color: #171821;
  gap: 16px;
} 

.tinyCard {
  width: 25%;
  padding: 10px;
  border-radius: 8px;
  background-color: #171821;
} 

.tinyCard p {
  font-size: 12px;
}

.tinyCard img {
  width: 64px;
}

.p1 {
  color: #C84242;
}

.p2 {
  color: #A9DFD8;
}

.p3 {
  color: #F2C8ED;
}

.p4 {
  color: #20AEF3;
}
