:root {
  --White: #ffffff;
  --Red: #FF0505;
  --BackgroundGray: #171821;
	--CardGray: #21222D;
  --ActiveCardGray: #242530;

  --SidebarText: #87888C;
  --SidebarActiveText: #242425;
  --LineGray: #323343;

  --MainGreenColor: #a9dfd8;
  --MainGreenColorHover: #8bcfc4;
  --GreenGradient: linear-gradient(90deg, #a9dfd8 8%, #59b8ac 92%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  font-family: Inter, system-ui;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;
	color: var(--White);
  background-color: var(--BackgroundGray);
}

a {
	text-decoration: none;
	color:var(--White);
}

h1 {
	font-size: 2em;
	line-height: 1.1;
}

h2 {
	font-size: 1.5em;
	line-height: 1.25;
}

h3 {
	font-size: 1.25em;
	line-height: 1.3;
}

h4 {
	font-size: 1em;
	line-height: 1.5;
}

li {
  list-style-type: none;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
